In [1]:
import pandas as pd

In [3]:
data=pd.read_csv("/home/amal/Current_work/Dataset/disney-characters.csv")
data.head(5)

,index,movie_title,release_date,hero,villian,song
0,0,\nSnow White and the Seven Dwarfs,"December 21, 1937",Snow White,Evil Queen,Some Day My Prince Will Come
1,1,\nPinocchio,"February 7, 1940",Pinocchio,Stromboli,When You Wish upon a Star
2,2,\nFantasia,"November 13, 1940",NaN,Chernabog,NaN
3,3,Dumbo,"October 23, 1941",Dumbo,Ringmaster,Baby Mine
4,4,\nBambi,"August 13, 1942",Bambi,Hunter,Love Is a Song

In [11]:

print(f'the sum of  missing values in data {data.isnull().sum()}')

the sum of  missing values in data index            0
movie_title      0
release_date     0
hero             4
villian         10
song             9
dtype: int64